# Server Configuration
PORT=5000
NODE_ENV=development

# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5433
DB_NAME=gift-of-reading
DB_USER=postgres
DB_PASSWORD=postgres

# File Upload
UPLOAD_DIR=./uploads
